* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

input,
button {
  font-family: 'Inter', sans-serif;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, 1);
}

.header__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
}

.header__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/header-background.png');
  background-position: center;
}

.header__text h1 {
  font-size: 45px;
  color: white;
  z-index: 5;
}

.header__text a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  z-index: 5;
}

#form {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}

#form > * {
  height: 40px;
  font-size: 14px;
}

#form input {
  text-indent: 15px;
  width: 320px;
  color: #6b7280;
  border: 1px solid #d1d5db;
  border-right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

#form button {
  padding: 8px 35px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
}

.movie {
  display: flex;
  border-bottom: 1.5px solid #e5e7eb;
  padding: 20px 0;
  width: 600px;
}

.movie__poster {
  width: 100px;
  align-self: flex-start;
  margin-right: 20px;
}

.movie__info {
  padding-right: 5px;
}

.info__add {
  cursor: pointer;
  display: flex;
}

.info__add img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

.info__title {
  display: flex;
  align-items: center;
}

.info__title h2 {
  font-weight: 500;
  font-size: 20px;
}

.info__rating {
  font-size: 14px;
  margin-left: 5px;
}

.info__rating img {
  height: 100%;
  vertical-align: center;
}

.info__stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  margin: 6px 0;
}

.info__stats > *:not(:last-child) {
  margin-right: 10px;
}

.info__plot {
  color: #6b7280;
  font-size: 14px;
}

@media (max-width: 620px) {
  header {
    padding: 0 20px;
  }

  .header__text h1 {
    font-size: 30px;
  }

  .header__text a {
    font-size: 14px;
    margin-left: 5px;
  }

  #form input {
    width: 200px;
  }

  #form button {
    padding: 8px 15px;
  }

  .movie {
    width: auto;
  }

  .info__title {
    flex-direction: column;
    align-items: flex-start;
  }

  .info__title h2 {
    font-size: 15px;
  }

  .info__rating {
    font-size: 12px;
    margin-left: 0;
  }

  .info__stats {
    font-size: 12px;
  }

  .info__stats button {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .info__stats button img {
    width: 12px;
    height: 12px;
  }

  .info__plot {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .header__text h1 {
    font-size: 20px;
  }

  .header__text a {
    font-size: 10px;
    margin-left: 5px;
  }
  #form input {
    text-indent: 5px;
    font-size: 12px;
    width: 120px;
  }

  #form button {
    padding: 8px 10px;
    font-size: 12px;
  }

  .info__title h2 {
    font-size: 14px;
  }

  .info__rating {
    font-size: 10px;
    margin-left: 0;
  }

  .info__stats {
    font-size: 10px;
  }

  .info__stats button {
    font-size: 10px;
    display: flex;
    align-items: center;
  }

  .info__stats button img {
    width: 10px;
    height: 10px;
  }

  .info__plot {
    font-size: 10px;
  }
}

/* WATCHLIST */

.info__remove {
  cursor: pointer;
  display: flex;
}

.info__remove img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
