* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

input,
button {
  font-family: 'Inter', sans-serif;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 200px;
  background-color: rgba(0, 0, 0, 1);
}

.header__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/header-background.png');
  background-position: center;
}

header h1 {
  font-size: 45px;
  color: white;
  z-index: 5;
}

header a {
  color: white;
  z-index: 5;
}

#form {
  position: absolute;
  display: flex;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

#movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.movie {
  display: flex;
  border-bottom: 1.5px solid #e5e7eb;
  padding: 20px 0;
  width: 600px;
}

.movie__poster {
  width: 100px;
  align-self: flex-start;
  margin-right: 20px;
}

.movie__info {
  padding-right: 5px;
}

.info__add {
  cursor: pointer;
  display: flex;
}

.info__add img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

.info__title {
  display: flex;
  align-items: center;
}

.info__title h2 {
  font-weight: 500;
  font-size: 20px;
}

.info__rating {
  font-size: 14px;
  margin-left: 5px;
}

.info__rating img {
  height: 100%;
  vertical-align: center;
}

.info__stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  margin: 6px 0;
}

.info__stats > *:not(:last-child) {
  margin-right: 10px;
}

.info__plot {
  color: #6b7280;
  font-size: 14px;
}

@media (max-width: 620px) {
  .movie {
    width: auto;
  }
}

/* WATCHLIST */

.info__remove {
  cursor: pointer;
  display: flex;
}

.info__remove img {
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
